

/* Tablet */
@media (min-width: 321px) and (max-width: 1024px) {
    #header__block {
        padding: 20px;
        max-width: 100%;
    }
    .header__block-search {
        display: none;
    }
    .header__block-utility-bar {
        padding: 0;
        margin-left: 0;
        display: none;
    }
    .header__block-utility-bar-list {
        padding: 0;
        display: none;
    }
    .header__block-utility-bar-mobile {
        display: block;
    }
    #content {
        padding: 20px;
    }
    .account-content {
        display: none;
        /* visibility: hidden; */
    }
}
@media (max-width: 412px) {
    #header__block {
        padding: 8px;
        max-width: 100%;
    }
    .header__block-search {
        display: none;
    }
    .header__block-logo {
        text-align: center;
        flex: 1;
    }
    .header__block-utility-bar-list {
        padding: 0;
        display: none;
    }
     .header__block-utility-bar-mobile {
         display: block;
     }
     #content {
         padding: 0;
     }
    .account-content {
        display: none;
        /* visibility: hidden; */
    }
    .story-bar {
        overflow: scroll;
    }
}
/* Mobile */
@media (max-width: 320px) {
    #header__block {
        padding: 0;
        max-width: 100%;
    }
    .header__block-utility-bar {
        padding: 0;
        margin-left: 0;
    }
    .header__block-utility-bar-list {
        padding: 0;
        display: none;
    }
    .header__block-search {
        display: none;
    }
    #content {
        padding: 0;
    }
    .account-content {
        display: none;
        /* visibility: hidden; */
    }
}
