:root {
    --text-color: #000;
    --gray-color: #fafafa;
    --border-color: #dbdbdb;
}
*{
    box-sizing: inherit;
    margin: 0;
}
html{
    font-size:62.5%;
    line-height:1.6rem;
    box-sizing: border-box;
}


/* header section */
#header__block {
    display: flex;
    padding: 0 208px;
    height: 52px;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}
.header__block-logo {
    width: 362px;
}
.header__block-logo a {
    font-size: 2.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--text-color);
    
}
.header__block-search {
    position: relative;
    width: 215px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    background-color: var(--gray-color);
    display: flex;
    cursor: text;
}
.search__label-wrap {
    margin: auto;
}
.search__label-wrap span {
    font-size: 1.2rem;
}
.search__label-wrap i {
    font-size: 1.2rem;
}
.header__block-search input {
    display: none;
    width: 100%;
    height: 100%;
    padding: 0 28px;
}
.header__block-utility-bar {
    margin-left: 120px;
   
}
.header__block-utility-bar-list {
    list-style: none;
    display: flex;
    align-items: center;
}
.header__block-utility-bar-item img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.header__block-utility-bar .active {
    color: var(--text-color);
}
.header__block-utility-bar a {
    margin: 0 12px;
    text-decoration: none;
}
.header__block-utility-bar i {
    font-size: 2.4rem;
    color: #cfcfcf;
}

/* content */
#content {
    padding: 32px 208px;
    display: flex;
}
.main-content {
    width: 614px;
}
.story-bar {
    width: 614px;
    height: 118px;
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
}
.user-wrap {
    margin: 0 8px;
}
.user-pic img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.user-name {
    text-align: center;
    font-size: 1.2rem;
}

.new-feed {
    margin-top: 26px;
    border: 1px solid var(--border-color);
    width: 614px;

}
.feed-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 12px;
}
.feed-info {
    display: flex;
    align-items: center;
}
.feed-info-logo img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}
.feed-info-user-name {
    margin-left: 16px;
    font-size: 1.5rem;
    font-weight: bold;
}
.feed-info-other-action i{
    color: var(--text-color);
    font-size: 1.3rem;
}
/* .feed-pic {
    width: 100%;
} */
.feed-pic img{
    width: 100%;
}

.feed-action-bar {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    align-items: center;
}
.feed-action-wrap {
    display: flex;
    flex: 1;
}
.feed-action-icon {
    margin-right: 16px;
}
.feed-action-icon i {
    font-size: 2.4rem;
}
.feed-action-icon:last-child {
    margin-right: 0;
}
.feed-action-slider {
    flex: 1;
}
.feed-action-slider i {
    font-size: 0.7rem;
}
.feed-action-save i {
    font-size: 2.4rem;
}

.feed-likes {
    margin-top: 10px;
    padding: 0 12px;
    font-size: 1.3rem;
    font-weight: bold;
}

.feed-content {
    margin-top: 18px;
    padding: 0 12px;
}
.feed-content-user-name {
    font-size: 1.4rem;
    font-weight: bold;
}
.feed-content-comment {
    font-size: 1.4rem;
}

.feed-comment-wrap {
    margin-top: 10px;
    padding: 0 12px;
}
.feed-comment-all-cmt {
    font-size: 1.4rem;
    color: #9e9e9e;
}
.feed-comment-user-cmt { 
    margin-top: 10px;
    display: flex;
    justify-content: space-between;   
    align-items: center;
}
.feed-comment-user-cmt-wrap {
    display: flex;
    align-items: center;
}
.feed-comment-user-name {
    font-size: 1.4rem;
    font-weight: bold;
    margin-right: 4px;
}
.feed-comment-user-cmt-content {
    font-size: 1.4rem;
}

.feed-time-create {
    margin-top: 10px;
    padding: 0 12px;
    font-size: 1.3rem;
    font-weight: lighter;
}

.feed-footer {
    padding: 14px 12px;
    margin-top: 14px;
    display: flex;
    border-top: 1px solid var(--border-color);
    align-items: center;
}
.feed-emoji {
    width: 42px;
    font-size: 2.4rem;
}
.feed-emoji i {
    color: var(--text-color);
}
.feed-cmt-input {
    flex: 1;
}
.feed-cmt-input input {
    width: 100%;
    border: none;
    outline: none;
}

.feed-submit {
    font-size: 1.4rem;
    color: #0084ff;
}



/*  account section  */
.account-content {
    flex: 1;
    padding: 22px 0 0 30px;
}
.my-account {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.my-account-pic {
    margin-right: 18px;
}
.my-account-pic img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
}
.my-account-wrap {
    display: flex;
    align-items: center;
}
.my-account-user-nickname {
    font-size: 1.4rem;
    font-weight: bold;
}
.my-account-user-realname {
    font-size: 1.4rem;
    color: #9e9e9e;
}
.my-account-change-acc a {
    text-decoration: none;
    color: #0084ff;
    font-size: 1.3rem;
}

.suggestion-accounts {
    margin-top: 28px;
}
.suggestion-accounts-label {
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
}
.suggestion-accounts-label span {
    font-size: 1.4rem;
    color: #9e9e9e;
}
.suggestion-accounts-label a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
}
.suggestion-accounts-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.suggestion-accounts-user:last-child {
    margin-bottom: 0;
}
.suggestion-accounts-user-info {
    display: flex;
}   
.suggestion-accounts-user-avatar {
    margin-right: 14px;
}
.suggestion-accounts-user-avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.suggestion-accounts-user-name {

    width: 184px;
}
.suggestion-accounts-user-nickname {
    font-size: 1.4rem;
    font-weight: bold;
}
.suggestion-accounts-user-desc {
    font-size: 1.3rem;
    font-weight: lighter;
    color: #9e9e9e;
    --line-height: 2rem;
    line-height: var(--line-height);
    height: var(--line-height);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.suggestion-accounts-users-follow {
    text-decoration: none;
    color: #0084ff;
    font-size: 1.3rem;
}

.term-of-service {
    width: 220px;
    margin-top: 38px;
}
.term-of-service span {
    color: #9e9e9e;
    font-size: 1.4rem;
    padding-left: 5px;
    line-height: 5rem;
}
.term-of-service-list {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}
.term-of-service-item {
    list-style: none;
    position: relative;
    line-height: 2rem;
}
.term-of-service-item::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #9e9e9e;
    border-radius: 50%;
    transform: translateY(-50%);
    top: 50%;
}
.term-of-service-item:last-child::after {
    display: none;
}
.term-of-service-item a { 
    text-decoration: none;
    color: #9e9e9e;
    font-size: 1rem;
    padding: 5px;
}